
.div{

	background-color:blue; 
	width: 100px;
	float: left;

}

.div2{

	font-family: "Serif";
	color:black;
	width: 200px;
	border: 1px solid #e8e8e8;
	padding:  20px 10px 18px 20px;
	top:116px;
	left:8px; 
	position: absolute; 
	visibility: visible;
	margin: 60px 10px;
	
}

.div3{
	color:#302A29;
	background-color: white;
	float: right;


}
.div4{
	background-color:white;
	width: 1400px;
	height: 40px;
	text-align:left; 
	float: left;
	padding: 30px;
	vertical-align: middle;

}
.div5{
	background-color: white;
	height: 650px; 
	width: 1250px; 
	left:261px; 
	top: 116px; 
	position: absolute; 
	visibility: visible;
	z-index:10;
	text-align: center;


}

.color{
	width: 206px;
	background-color: #df0005;
	color:white;
	font-size: 14px;
	font-family: Open Sans;
	float: left;
	text-align: left;
	margin: 10px 20px 8px 6px;
	padding: 15px;



}

div.caracteristicasProducto{
	float: right;
	padding :0px 20px 20px 0px;
	color:#666;
	text-align: left;
	width: 280px;
}

#imagenProducto {
	height:260px;
	width:260px;
	padding:0px 0px 0px 0px;



}
.fuenteProducto{
	text-align: center;
	font-size: 20px; 
	font-style: bold;
	padding: 7px;
}

.logo{
	text-align: left;
	width: 100px;
	


}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=text2] {
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

